@keyframes heart {
  0%, 40%, 80% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.1);
  }  
}
.heart {
  animation: heart 1400ms infinite;
}

/* Light mode */
[data-md-color-scheme="slate"] {

  --md-primary-bg-color: #ffffff;
  --md-default-bg-color: #ffffff;
  --md-primary-fg-color: #7086DF;  

  --md-default-bg-color--light:    var(--md-primary-bg-color);
  --md-default-bg-color--lighter:  var(--md-primary-bg-color);
  --md-default-bg-color--lightest: var(--md-primary-bg-color);

  --md-default-fg-color--light:    var(--md-primary-fg-color);
  --md-default-fg-color--lighter:  var(--md-primary-fg-color);
  --md-default-fg-color--lightest: var(--md-primary-fg-color);
  --md-default-fg-color--dark:     var(--md-primary-fg-color);
  
  --md-typeset-color:      #2D2D2D;
  --md-typeset-a-color:    var(--md-typeset-color);
  --md-typeset-mark-color: var(--md-typeset-color); 

  --md-admonition-fg-color: var(--md-typeset-color);
  --md-admonition-bg-color: #e0e5f8;  

    /* Primary color shades */
    --md-primary-bg-color--light: var(--md-typeset-color);
    --md-text-link-color:         var(--md-typeset-color);

    /* Accent color shades */
    --md-accent-fg-color:             #7086DF;
    --md-accent-fg-color--transparent: var(--md-typeset-color);
    --md-accent-bg-color:              var(--md-typeset-color);
    --md-accent-bg-color--light:       var(--md-typeset-color);   

  /* Code block color shades */
  --md-code-bg-color: var(--md-admonition-bg-color);
  --md-code-fg-color: var(--md-typeset-color);

  /* Header */
  --md-header-fg-color:       #ffffff; 
  --md-header-bg-color:       #ffffff; 
 
  .md-button {border-radius: 20px;}
  
  /* Footer */
  --md-footer-bg-color:        var(--md-primary-fg-color);
  --md-footer-bg-color--dark:  var(--md-primary-fg-color);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
   
}
